<div class="d-flex align-items-center mb-4">
  <button routerLink="/author-list" class="btn btn-light rounded-circle me-3 border shadow-sm">
    <i class="bi bi-arrow-left"></i>
  </button>
  <h3 class="fw-bold m-0">
    {{ isEditing() ? 'Editar Autor' : 'Novo Autor' }}
  </h3>
</div>

<div class="card border-0 shadow-sm p-4" style="border-radius: 20px; background: white; max-width: 800px;">
  <form (ngSubmit)="salvar()" #authorForm="ngForm">
    <div class="row g-4">

      <div [class]="isEditing() ? 'col-md-10' : 'col-md-12'">
        <label class="form-label text-muted small fw-bold text-uppercase">Nome do Autor</label>
        <input 
          type="text" 
          name="authorName" 
          [ngModel]="author().name" 
          (ngModelChange)="author.set({ ...author(), name: $event })"
          class="form-control custom-input" 
          placeholder="Ex: Machado de Assis"
          maxlength="40" 
          required>
      </div>

      <div class="col-12 mt-5 d-flex gap-3">
        <button type="submit" class="btn-purple px-5 shadow-sm">
          <i class="bi bi-check2-circle me-2"></i>Salvar Registro
        </button>
        <button type="button" routerLink="/author-list" class="btn btn-light px-4 border" style="border-radius: 10px;">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>